@font-face {
    font-family: "New Age";
    src: url(New\ Age.ttf)
}
.offsite ul {
    display: flex;
    list-style-type: none;
    padding: 0px;
    margin-top: 0;
}
#logo {
    display: flex;
    justify-content: center;
}
body {
    background-image: url("./Assests/Desk-BG.png");
}
body, html {
    -webkit-text-size-adjust: 100%;
}
.background {
    height: fit-content;
}
.links {
    display: flex;
    justify-content: center;
    margin-bottom: 75px;
}
nav ul {
    gap: 30px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-shrink: 1;
    padding: 0;
}
.body {
    display:flex;
    gap: 10px; 
    flex-basis: 1321px;
    justify-content: center;
    overflow: visible;
    height: fit-content;
    margin-left: 45px;
    margin-right: 45px;
}
.crayonbox {
    display: flex;
    background-image: url("./Assests/website-box.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 692px;
    flex-basis: 312px;
    flex-shrink: 1;
    flex-grow: 1;
    max-width: 312px;
    min-width: 104px;
}
.crayonbox-lid {
    display: flex;
    background-image: url("./Assests/crayonbox-lid.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 692px;
    flex-basis: 312px;
    flex-shrink: 2;
    flex-grow: 1;
    max-width: 312px;
}
.crayonbox ul {
    list-style-type: none;
    display: inline-flex;
    flex-direction: column;
    padding-left: 25px;
    flex-shrink: 1;
    min-width: 0;
    gap: 4px;
    overflow: auto;
}
.crayonbox li {
    align-items: center;
}
.crayonbox ul li a img {
    display: flex;
    flex-shrink: 1;
    min-width: 0;
}
.book {
    display: flex;
    margin-top: 5px;
    margin-right: 15px;
    flex-shrink: 1;
    min-width: 0;
}
.book a {
    flex-shrink: 1;
    display: flex;
    min-width: 0;
}
.chapter {
    margin-left: 15px;
    flex-shrink: 1;
    min-width: 0;
}
.chapter a {
    display: flex;
    margin-top: 5px;
    margin-right: 15px;
    flex-shrink: 1;
    min-width: 0;
}
.paper {
    background-image: url("./Assests/page.png");
    background-size: contain;
    height: 1496px;
    padding: 20px ;
    flex-grow: 2;
    flex-basis: 1004px;
    flex-shrink: 1;
    background-repeat: no-repeat;
    max-width: 1004px;
}
.clipboard {
    background-image: url("./Assests/clipboard.png");
    background-size: contain;
    height: 1496px;
    flex-basis: 1004px;
    flex-shrink: 1;
    background-repeat: no-repeat;
    max-width: 1004px;
}
.clipboard .text {
    padding-top: 65px;
    padding-left: 25px;
    padding-right: 25px;
    overflow: auto;
}
#notebook {
    background-image: url("./Assests/notebook.png");
    background-size: contain;
    height: 1496px;
    flex-basis: 1004px;
    flex-shrink: 1;
    background-repeat: no-repeat;
    max-width: 1004px;
}
#notebook .text {
    padding-right: 20px;
    height: 1350px;
    overflow: auto;
}
#notebook .text p {
    padding-left: 45px;
    padding-right: 17px;
}
#notebook h1 {
    padding-top: 55px;
}
#blueprints {
    background-image: url("./Assests/blueprints.png");
    background-size: contain;
    height: 1496px;
    flex-basis: 1004px;
    flex-shrink: 1;
    background-repeat: no-repeat;
    max-width: 1004px;
}
.text{
    font-family: "New Age";
    font-size: 24px;
    height: 1300px;
    margin-top: 75px;
    margin-bottom: 75px;
}
.text p {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 25px;
}
.text h1 {
    text-align: center;
}
.text h2 {
    text-align: center;
}
#story {
    display: flex;
    list-style-type: none;
    justify-content:flex-start;
    gap: 1px;
}
#story ul{
    margin-bottom: 0px;
    border-radius: 5px;
    
}
#books {
    max-width: 948px;
}
#story li{
    margin-bottom: 0px;
    border-radius: 5px;
    padding-left: 25px;
    padding-bottom: 10px;
    padding-right: 10px;
}
