@font-face {
    font-family: "New Age";
    src: url("./New\ Age.ttf")
}
body {
    background-image: url("./Desk-BG.png");
}
.background {

}
.links {
    display: flex;
    justify-content: center;
    margin-bottom: 75px;
}
.home.active {
    opacity: .4;
}
nav ul {
    gap: 30px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-shrink: 1;
}
.body {
    display:flex;
    gap: 10px; 
    flex-basis: 1321px;
    justify-content: center;
    overflow: visible;
    height: auto;
    margin-left: 45px;
    margin-right: 45px;

}
.paper {
    padding: 20px ;
    flex-basis: 350px;
    flex-shrink: 1;
    flex-grow: 2;
}
.crayonbox {
    display: flex;
    background-image: url("website-box.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 692px;
    flex-basis: 312px;
    flex-shrink: 2;
    flex-grow: 1;
    max-width: 312px;

}
.crayonbox-lid {
    display: flex;
    background-image: url("crayonbox-lid.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 692px;
    flex-basis: 312px;
    flex-shrink: 2;
    flex-grow: 1;
    max-width: 312px;

}
.crayonbox ul {
    list-style-type: none;
    padding-left: 25px;
    flex-shrink: 1;
}
.crayonbox li {
    align-items: center;
}
.book {
    margin-top: 5px;
}
.chapter {
    margin-left: 15px;
}
.crayonbox li {
}

.paper {
    background-image: url("page.png");
    background-size: contain;
    height: 1496px;
    flex-basis: 1004px;
    flex-shrink: 1;
    background-repeat: no-repeat;
    max-width: 1004px;
}
.clipboard {
    background-image: url("clipboard.png");
    background-size: contain;
    height: 1496px;
    flex-basis: 1004px;
    flex-shrink: 1;
    background-repeat: no-repeat;
    max-width: 1004px;
}
.clipboard .text {
    padding-top: 65px;
    padding-left: 25px;
    padding-right: 25px;
}
.text{
    font-family: "New Age";
    font-size: 24px;
}
.text p {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 25px;
}
.text h1 {
    text-align: center;
}
.text h2 {
    text-align: center;
}